.wrapper {
  max-width: 1335px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}

a {
  color: #767676;
  text-decoration: none;
}

.grid-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.grid-item {
  flex-basis: 33.33%;
  -ms-flex: auto;
  position: relative;
  padding: 10px;
  box-sizing: border-box;
}

@media (max-width: 1333px) {
  .grid-item {
    flex-basis: 33.33%;
  }
}
@media (max-width: 1073px) {
  .grid-item {
    flex-basis: 33.33%;
  }
}
@media (max-width: 815px) {
  .grid-item {
    flex-basis: 50%;
  }
  .navbar {
    display: block !important;
  }
  .navbar h1 {
    margin-bottom: 0px;
  }
  .nav-links h4 {
    padding-left: 0px !important;
    padding-right: 10px;
  }
}
@media (max-width: 555px) {
  .grid-item {
    flex-basis: 100%;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  background-color: white;
}

.nav-links {
  display: flex;
}

.nav-links h4 {
  padding-left: 10px;
  font-size: 1em;
  font-weight: 300;
}

h1 {
  font-weight: 300;
  font-style: italic;
  font-size: 1.75em;
  letter-spacing: 1px;
}

.info-section {
  height: 100vh;
  width: 40%;
  margin: auto;
  margin-top: 300px;
}

#submissions {
  display: flex;
  align-items: center;
}

#submit-btn {
  height: 100px;
  background-color: #ffbe4f;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 50%;
  color: #00a2ff;
  margin-right: 20px;
}

#submit-btn:hover {
  background-color: #00a2ff;
}

#submit-btn:hover a {
  color: #ffbe4f;
}

#submit-btn:hover span {
  display: none;
}

#submit-btn:hover:before {
  content: "click here";
  color: #ffbe4f;
}

#back-btn {
  height: 100px;
  background-color: #00a2ff;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 50%;
  color: #ffbe4f;
}

#back-btn:hover {
  background-color: #ffbe4f;
}

#back-btn:hover a {
  color: #00a2ff;
}

#back-btn:hover span {
  display: none;
}

#back-btn:hover:before {
  content: "to videos";
  color: #00a2ff;
}
