body {
  margin: 0;
}

.wrapper {
  /* max-width: 1335px; */
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}

a {
  color: #767676;
  text-decoration: none;
}

.grid-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.grid-item {
  flex-basis: 33.33%;
  -ms-flex: auto;
  position: relative;
  padding: 10px;
  box-sizing: border-box;
}

@media (max-width: 1333px) {
  .grid-item {
    flex-basis: 33.33%;
  }
}
@media (max-width: 1073px) {
  .grid-item {
    flex-basis: 33.33%;
  }
}
@media (max-width: 815px) {
  .grid-item {
    flex-basis: 50%;
  }
  .info-section {
    width: 75%;
    margin-top: 100px;
  }
}
@media (max-width: 555px) {
  .grid-item {
    flex-basis: 100%;
  }
  .info-section {
    width: 75%;
    margin-top: 100px;
  }
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.nav-links {
  display: flex;
}

.nav-links h4 {
  padding-left: 10px;
  font-size: 1em;
  font-weight: 300;
}

h1 {
  font-weight: 300;
  font-style: italic;
  font-size: 1.75em;
  letter-spacing: 1px;
}

.info-section {
  height: 100vh;
  width: 50%;
  margin: auto;
  margin-top: 300px;
}

.info-section p {
  font-size: 1em;
}

#submissions {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#submit-btn {
  height: 6.5rem;
  background-color: white;
  width: 6.5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 50%;
  color: #ff8b42;
  margin-right: 1rem;
  /* border: 1px solid #ff8b42; */
}

#submit-btn:hover {
  background-color: #ff8b42;
}

#submit-btn:hover a {
  color: white;
}

/* #ffb840 (orange)
#ff8b42 (red) */

#submit-btn:hover span {
  display: none;
}

#submit-btn:hover:before {
  content: "click here";
  color: white;
}

#back-btn {
  height: 6.5rem;
  background-color: white;
  width: 6.5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 50%;
  color: #006eff;
  margin-right: 1rem;
  /* border: 1px solid #006eff; */
}

/* #2684ff - lighter blue */
#back-btn:hover {
  background-color: #006eff;
  /* border: 1px solid #006eff; */
}

#back-btn:hover a {
  color: white;
}

#back-btn:hover span {
  display: none;
}

#back-btn:hover:before {
  content: "to videos";
  color: white;
}

#calc-btn {
  height: 6.5rem;
  background-color: white;
  width: 6.5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 50%;
  color: #ffd333;
  margin-right: 1rem;
  /* border: 1px solid #ffd333; */
}

/* #2684ff - lighter blue */
#calc-btn:hover {
  background-color: #ffd333;
  /* border: 1px solid #ffd333; */
}

#calc-btn:hover a {
  color: white;
}

#calc-btn:hover span {
  display: none;
}

#calc-btn:hover:before {
  content: "sunset";
  color: white;
}

.bold-text {
  font-weight: bold;
  text-decoration: underline;
}

#navbar-sticky {
  overflow: hidden;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 1;
  /* height: 70px; */
  top: 0;
}

#navbar-sticky h1 {
  padding-left: 10px;
}

.navbar-sticky-links {
  display: flex;
  align-items: center;
  padding-right: 10px;
}

.navbar-sticky-links a {
  padding-left: 1em;
  font-weight: 400;
}

.hidden {
  display: none;
}

#dropbtn {
  background-color: white;
  color: white;
  border: none;
  visibility: hidden;
}

#dropbtn img {
  color: #767676;
}

#dropbtn:focus {
  border: none !important;
}

.dropdown-list {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  right: 0;
  display: none;
  position: absolute;
  background-color: white;
  min-width: 125px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 101;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: right;
  color: #767676;
  visibility: visible;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

#credits-section {
  margin-top: 75px;

}
